flows.json
[{"id":"e1116254.fce78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9890047d.538508","type":"websocket-listener","path":"","wholemsg":"true"},{"id":"adc5c733.f594f8","type":"mqtt-broker","name":"","broker":"broker.emqx.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6f667769.8caf78","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ba93cb17.cd4108","type":"ui_group","name":"Default","tab":"6f667769.8caf78","order":1,"disp":false,"width":"6","collapse":false},{"id":"2dcfa136.9cd21e","type":"ui_group","name":"Default","tab":"6f667769.8caf78","order":2,"disp":true,"width":"6","collapse":false},{"id":"ce64b0eb.f408e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"54a50596.ec02ac","type":"function","z":"e1116254.fce78","name":"","func":"if (msg.porta == 1) {\nmsg.Status = 'Abrir';\n}\nelse{\n    msg.Status='Fechar'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":200,"wires":[["3de0c334.574b0c","156c9b45.cc48c5"]]},{"id":"3de0c334.574b0c","type":"debug","z":"e1116254.fce78","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":200,"wires":[]},{"id":"8616dcad.650e3","type":"debug","z":"e1116254.fce78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":500,"wires":[]},{"id":"c70dc074.d13e2","type":"mqtt in","z":"e1116254.fce78","name":"","topic":"djalmasmart","qos":"2","datatype":"auto","broker":"adc5c733.f594f8","x":690,"y":520,"wires":[["8616dcad.650e3","5d18817.0d28f8"]]},{"id":"53491d1d.ae3e44","type":"mqtt out","z":"e1116254.fce78","name":"","topic":"djalmasmart","qos":"1","retain":"","broker":"adc5c733.f594f8","x":470,"y":520,"wires":[]},{"id":"161bfda5.a76382","type":"http in","z":"e1116254.fce78","name":"pagina","url":"/pagina","method":"get","upload":false,"swaggerDoc":"","x":190,"y":280,"wires":[["156c9b45.cc48c5"]]},{"id":"156c9b45.cc48c5","type":"function","z":"e1116254.fce78","name":"","func":"if (msg.porta == true){\n    msg.Site = \"A porta foi Aberta\";\n}else{\n    msg.Site = \"A porta está Fechada\";\n}\n\nif (msg.temperature > 25){\n    msg.Temp = \"Led L1 Aceso\"\n    msg.alerta = \"L1\"\n}else {\n    msg.Temp = \"Led L2 Aceso\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":280,"wires":[["9060ef1f.dac92","8b0cd947.a83808","68ad0256.467bac"]]},{"id":"9060ef1f.dac92","type":"http response","z":"e1116254.fce78","name":"","statusCode":"","headers":{},"x":810,"y":280,"wires":[]},{"id":"8b0cd947.a83808","type":"ui_text","z":"e1116254.fce78","group":"ba93cb17.cd4108","order":2,"width":0,"height":0,"name":"","label":"Status Porta","format":"{{msg.Site}}","layout":"col-center","x":830,"y":200,"wires":[]},{"id":"f7d65196.bb852","type":"inject","z":"e1116254.fce78","name":"Sensor Porta","props":[{"p":"porta","v":"","vt":"env"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":200,"wires":[["cad420ca.479fc"]]},{"id":"cad420ca.479fc","type":"random","z":"e1116254.fce78","name":"","low":"1","high":"2","inte":"true","property":"porta","x":250,"y":200,"wires":[["54a50596.ec02ac"]]},{"id":"8b4456e7.30d6c8","type":"inject","z":"e1116254.fce78","name":"Sensor Temperatura","props":[{"p":"temperature","v":"","vt":"env"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":400,"wires":[["fd678777.634b28"]]},{"id":"fd678777.634b28","type":"random","z":"e1116254.fce78","name":"","low":"15","high":"35","inte":"true","property":"temperature","x":340,"y":400,"wires":[["e4a5dfa8.bf303","156c9b45.cc48c5"]]},{"id":"e4a5dfa8.bf303","type":"debug","z":"e1116254.fce78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"temperature","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":400,"wires":[]},{"id":"68ad0256.467bac","type":"ui_gauge","z":"e1116254.fce78","name":"","group":"ba93cb17.cd4108","order":1,"width":0,"height":0,"gtype":"gage","title":"Led Temperatura","label":"graus Cº","format":"{{msg.temperature}}","min":"15","max":"35","colors":["#00b500","#00b500","#ca3838"],"seg1":"","seg2":"","x":850,"y":240,"wires":[]},{"id":"bbad3539.3e1af8","type":"ui_switch","z":"e1116254.fce78","name":"","label":"Controle do Atuador","tooltip":"","group":"ba93cb17.cd4108","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Atuador","style":"","onvalue":"Atuador Aberto","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Atuador Fechado","offvalueType":"str","officon":"","offcolor":"","x":140,"y":520,"wires":[["53491d1d.ae3e44"]]},{"id":"5d18817.0d28f8","type":"ui_text","z":"e1116254.fce78","group":"ba93cb17.cd4108","order":3,"width":0,"height":0,"name":"","label":"Status do Atuador","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":540,"wires":[]},{"id":"41b5854d.f9b71c","type":"ui_switch","z":"e1116254.fce78","name":"","label":"Controle do Led L3","tooltip":"","group":"ba93cb17.cd4108","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"10","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":130,"y":580,"wires":[["c34188b7.994008"]]},{"id":"43b15a95.26c144","type":"ui_gauge","z":"e1116254.fce78","name":"","group":"ba93cb17.cd4108","order":5,"width":0,"height":0,"gtype":"donut","title":"LED L3","label":"","format":"","min":0,"max":10,"colors":["#ff0000","#e60000","#ff0000"],"seg1":"","seg2":"","x":900,"y":600,"wires":[]},{"id":"dfdd1a9.10269e8","type":"mqtt in","z":"e1116254.fce78","name":"","topic":"djalmasmart2","qos":"2","datatype":"auto","broker":"adc5c733.f594f8","x":690,"y":600,"wires":[["43b15a95.26c144"]]},{"id":"c34188b7.994008","type":"mqtt out","z":"e1116254.fce78","name":"","topic":"djalmasmart2","qos":"","retain":"","broker":"adc5c733.f594f8","x":460,"y":580,"wires":[]}]